<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringTest:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringTest_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringTest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringTest" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/el-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/jasper.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/jsp-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/catalina.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/ecj-4.10.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/jasper-el.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/jaspic-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-jni.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/catalina-ha.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/servlet-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-dbcp.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-jdbc.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-util.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/catalina-ant.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-coyote.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/websocket-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-cs.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-de.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-es.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-fr.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-ja.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-ko.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-ru.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/annotations-api.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/catalina-tribes.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-util-scan.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-websocket.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-pt-BR.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/tomcat-i18n-zh-CN.jar" />
          <element id="file-copy" path="C:/apache-tomcat-9.0.20/lib/catalina-storeconfig.jar" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.9.1" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.1" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.13" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.6.1" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.5.4" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5.4" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.15" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.6.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>